@using Business.DTO
@{
    ViewData["Title"] = "Şifre Güncelle";
    Layout = "_LayoutTheme";
}
@model ResetPasswordDTO
 

<div class="row">
    <div class="col-md-12">
        <h1>Şifre Güncelle</h1>
    </div>
    
</div>
<div class="row">
    <div class="col-md-4 col-sm-12">
        <div class="login-form">
            <form asp-controller="Authorize" asp-action="ResetPasword" method="post">
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <label>Şifre</label>
                    <input asp-for=Password type="password" class="form-control" placeholder="Şifreniz . . .">
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Şifre</label>
                    <input asp-for=RePassword type="password" class="form-control" placeholder="Şifreniz Tekrar. . .">
                    @Html.ValidationMessageFor(model => model.RePassword, "", new { @class = "text-danger" })
                </div>


                <button type="submit" class="btn btn-primary">Güncelle</button>

                <br />
                <br />

                @if (Model.IsSuccess)
                {
                    <p class="text-success">@Model.Message</p>
                }
                else
                {
                    <p class="text-danger">@Model.Message</p>
                }
            </form>
        </div>
    </div>

</div>